<!DOCTYPE html>
<html>
  <head>
    <title>VersaTST</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link
      href="{{url_for('static',filename='bootstrap-3.3.7/dist/css/bootstrap.min.css')}}"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <div class="container" align="center" style="margin-top: 20%;">
      <h2
        class="text-info"
        style="font-family: 宋体; font-weight: bold; font-size: 49px"
      >
        VersaTST
      </h2>
      <br />
      <div class="text-muted">自动化测试</div>
      <br />
      <br />
    </div>

    <script
      type="text/javascript"
      src="{{url_for('static',filename='assets/js/jquery.min.js')}}"
    ></script>
    <script
      type="text/javascript"
      src="{{url_for('static',filename='bootstrap-3.3.7/dist/js/bootstrap.js')}}"
    ></script>
  </body>
</html>
