<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <link
      href="{{url_for('static',filename='layui/css/layui.css')}}"
      rel="stylesheet"
      type="text/css"
    />
    <style>
      body {
        margin: 10px;
      }

      .demo-carousel {
        height: 200px;
        line-height: 200px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="layui-row">
      <fieldset
        class="layui-elem-field site-demo-button"
        style="margin-top: 20px; margin-left: 20px; width: 96%;"
      >
        <legend>Test case of Spof scenario</legend>
        <form class="layui-form" action="">
          <div class="layui-form-item">
            <label class="layui-form-label">test_name</label>
            <div class="layui-input-inline">
              <input
                type="text"
                placeholder="请输入正确值"
                name="test_name"
                autocomplete="off"
                class="layui-input"
                lay-verify="required"
              />
            </div>
            <label class="layui-form-label">test_times</label>
            <div class="layui-input-inline">
              <input
                type="text"
                placeholder="请输入正确值"
                name="test_times"
                autocomplete="off"
                class="layui-input"
                lay-verify="required|number"
              />
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">storageclass_name</label>
            <div class="layui-input-inline">
              <input
                type="text"
                placeholder="请输入正确值"
                name="storageclass_name"
                autocomplete="off"
                class="layui-input"
                lay-verify="required"
              />
            </div>
            <label class="layui-form-label">pvc_size</label>
            <div class="layui-input-inline">
              <input
                type="text"
                placeholder="请输入正确值"
                name="pvc_size"
                autocomplete="off"
                class="layui-input"
                lay-verify="required"
              />
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">test_action</label>
            <div class="layui-input-inline">
              <select name="test_action" lay-filter="test_action">
                <option value="node_down" selected>node_down</option>
                <option value="switch_port_down">switch_port_down</option>
                <option value="interface_down">interface_down</option>
                <option value="manual">manual</option>
              </select>
            </div>
          </div>
          <div class="layui-form-item" id="down_host">
            <label class="layui-form-label">down_host</label>
            <div class="layui-input-inline">
              <textarea
                placeholder="请输入正确值"
                name="down_host"
                class="layui-textarea"
              ></textarea>
            </div>
          </div>
          <div class="layui-form-item" id="down_switch" hidden>
            <label class="layui-form-label">down_switch</label>
            <div class="layui-input-inline">
              <textarea
                placeholder="请输入正确值"
                name="down_switch"
                class="layui-textarea"
              ></textarea>
            </div>
          </div>
          <div class="layui-form-item" id="down_interface" hidden>
            <label class="layui-form-label">down_interface</label>
            <div class="layui-input-inline">
              <textarea
                placeholder="请输入正确值"
                name="down_interface"
                class="layui-textarea"
              ></textarea>
            </div>
          </div>
          <div class="layui-form-item" id="manual" hidden>
            <label class="layui-form-label">waiting_time</label>
            <div class="layui-input-inline">
              <input
                type="text"
                placeholder="请输入正确值"
                name="waiting_time"
                autocomplete="off"
                class="layui-input"
                lay-verify="not_require_number"
              />
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">storage_node</label>
            <div class="layui-input-inline">
              <textarea
                placeholder="请输入正确值"
                name="storage_node"
                class="layui-textarea"
                lay-verify="required"
              ></textarea>
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">DB_IP</label>
            <div class="layui-input-inline">
              <input
                type="text"
                placeholder="请输入正确值"
                name="DB_IP"
                autocomplete="off"
                class="layui-input"
                lay-verify="required|ip"
              />
            </div>
            <label class="layui-form-label">DB_port</label>
            <div class="layui-input-inline">
              <input
                type="text"
                placeholder="请输入正确值"
                name="DB_port"
                autocomplete="off"
                class="layui-input"
                lay-verify="required|number"
              />
            </div>
          </div>
          <hr class="layui-border-red" />
          <div class="layui-form-item">
            <label class="layui-form-label">test_node_hostname</label>
            <div class="layui-input-inline">
              <input
                type="text"
                placeholder="请输入正确值"
                name="test_node_hostname"
                autocomplete="off"
                class="layui-input"
                lay-verify="required"
              />
            </div>
            <label class="layui-form-label">test_node_IP</label>
            <div class="layui-input-inline">
              <input
                type="text"
                placeholder="请输入正确值"
                name="test_node_IP"
                autocomplete="off"
                class="layui-input"
                lay-verify="required|ip"
              />
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">test_node_port</label>
            <div class="layui-input-inline">
              <input
                type="text"
                placeholder="请输入正确值"
                name="test_node_port"
                autocomplete="off"
                class="layui-input"
                lay-verify="required|number"
              />
            </div>
            <label class="layui-form-label">test_node_password</label>
            <div class="layui-input-inline">
              <input
                type="text"
                placeholder="请输入正确值"
                name="test_node_password"
                autocomplete="off"
                class="layui-input"
                lay-verify="required"
              />
            </div>
            <div class="layui-input-inline">
              <button
                type="button"
                class="layui-btn layui-btn-primary layui-btn-sm"
                lay-active="addHost"
              >
                <i class="layui-icon">&#xe654;</i>
              </button>
            </div>
          </div>
          <div id="testnode"></div>
          <div class="layui-form-item">
            <button
              type="submit"
              class="layui-btn layui-btn-fluid layui-btn-radius"
              lay-filter="spof"
              lay-submit
            >
              Create
            </button>
          </div>
        </form>
      </fieldset>
    </div>
    <div
      class="layui-row"
      style="margin-top: 20px; margin-left: 20px; margin-right: 20px;"
    >
      <div class="layui-col-xs12">
        <div class="grid-demo grid-demo-bg1">
          <table
            class="layui-hide"
            id="spofTable"
            lay-filter="spofTable"
          ></table>
        </div>
      </div>
    </div>
    <script
      type="text/javascript"
      src="{{url_for('static',filename='personal/js/JQuery.js')}}"
    ></script>
    <script src="{{ url_for('static',filename='layui/layui.all.js') }}"></script>
    <script
      type="text/javascript"
      src="{{url_for('static',filename='personal/js/basic-sundry.js')}}"
    ></script>
    <script
      type="text/javascript"
      src="{{url_for('static',filename='personal/js/spof.js')}}"
    ></script>
  </body>
</html>
