<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>iSCSI Configure</title>

<link
	href="{{url_for('static',filename='bootstrap-3.3.7/dist/css/bootstrap.min.css')}}"
	rel="stylesheet" type="text/css" />
<link
	href="{{url_for('static',filename='bootstrap-select-1.12.4/dist/css/bootstrap-select.min.css')}}"
	rel="stylesheet" type="text/css" />
<style type="text/css">
body {
	padding: 10px;
}
</style>
<style type="text/css">
.red {
	color: #FF0000;
}

body {
	padding: 10px;
}

.col-xs-5 {
	width: 32.66666667%;
}

.col-xs-1 {
	width: 15.66666667%;
}

.col-sm-8 {
	right: 30px;
}

table tbody {
	display: block;
	height: 195px;
	overflow-y: scroll;
}

table thead, tbody tr {
	display: table;
	width: 100%;
	table-layout: fixed;
}

table thead {
	width: calc(100%)
}

table thead th {
	background: #ccc;
	text-align: center;
}
</style>
<style type="text/css">
.black_overlay {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity = 80);
}

.white_content {
	display: none;
	position: absolute;
	top: 50%;
	left: 36%;
	width: 27%;
	height: 70px;
	padding: 12px;
	/* border: 3px solid orange; */
	background-color: #66CC00;
	z-index: 1002;
	overflow: hidden;
}

.failed_content {
	display: none;
	position: absolute;
	top: 50%;
	left: 36%;
	width: 27%;
	height: 70px;
	padding: 12px;
	/* border: 3px solid orange; */
	background-color: #993333;
	z-index: 1002;
	overflow: hidden;
	width: 27%;
	height: 70px;
	padding: 12px;
	height: 70px;
	padding: 12px;
}
</style>

</head>

<body>
	<div class="tabbable">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#host_tab" data-toggle="tab">Host
					</a></li>
			<li><a href="#hostgroup_tab" data-toggle="tab">HostGroup</a></li>
			<li><a href="#diskgroup_tab" data-toggle="tab">DiskGroup</a></li>
			<li><a href="#map_tab" data-toggle="tab">Map</a></li>
		</ul>
		<div class="tab-content">
			<!-- host-->
			<div class="tab-pane fade in active" id="host_tab">
				<br> <br>
				<div class="row">
					<div class="col-xs-6 ">
						<label for="host_name" class="col-sm-2 control-label">Alias</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="host_name"
								placeholder="请输入Alias" style="width: 200px;" value=""
								onblur="host_name_myfunction()"> <input
								id="host_name_hid" hidden="hidden" value="0"> <input
								id="host_name_verify_status" hidden="hidden" value="0">
							<span class="red"> <span id="host_name_examine"
								class="hidden">Host已存在！</span> <span id="host_name_format"
								class="hidden">格式验证失败:仅支持字母数字以及下划线，且以字母开头</span>
							</span>
						</div>
						<div class="form-group">
							<label for="host_iqn" class="col-sm-2 control-label">IQN</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="host_iqn"
									placeholder="请输入IQN" style="width: 200px;" value=""
									onblur="iqn_myfunction()"> <input id="host_iqn_hid"
									hidden="hidden" value="0"> <input
									id="host_iqn_verify_status" hidden="hidden" value="0">
								<span class="red"> <span id="iqn_format" class="hidden">IQN正确格式:
										iqn.yyyy-mm.naming-authority:unique name</span>
								</span>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="button" class="btn btn-default" name="host_create"
									id="host_create">Create</button>
							</div>
						</div>
					</div>
					<div class="col-xs-6 "></div>
				</div>
			</div>
			<!-- hostgroup-->
			<div class="tab-pane fade " id="hostgroup_tab">
				<br> <br>
				<div class="row">
					<div class="col-xs-5 ">
						<span class="text-success" style="margin-left: 35%;">可选主机列表</span>
						<span class="glyphicon glyphicon-question-sign" rel="drevil"
							data-container="body" data-toggle="popover"
							data-placement="bottom" data-content="通过单击项目将其添加到已选列表"></span>
						<table id="HTable" class="table  table-hover table-bordered "
							border="1">
							<thead>
								<tr>
									<th>Host</th>
								</tr>
							</thead>
							<tbody id="H_T">
							</tbody>
						</table>
					</div>
					<div class="col-xs-5 ">
						<span class="text-success" style="margin-left: 32%;">已选主机列表</span>
						<span class="glyphicon glyphicon-question-sign" rel="drevil"
							data-container="body" data-toggle="popover"
							data-placement="bottom" data-content="通过单击项目将其移出已选列表(同时放回可选列表)"></span>
						<table id="HTable_Show" class="table table-hover table-bordered"
							border="1">
							<thead>
								<tr>
									<th>Selected Host</th>
								</tr>
							</thead>
							<tbody id="H_T_Show">
							</tbody>
						</table>
					</div>
					<div class="col-xs-5 ">
						<span class="text-success" style="margin-left: 30%;">已选主机对应的IQN</span>
						<table id="H_IQN_Table_Show"
							class="table table-hover table-bordered" border="1">
							<thead>
								<tr>
									<th>Selected IQN</th>
								</tr>
							</thead>
							<tbody id="H_IQN_T_Show">
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-xs-6 ">
					<div class="col-sm-8">
						<input type="text" class="form-control" id="host_group_name"
							placeholder="请输入HostGroup名称" style="width: 200px;" value=""
							onblur="hg_name_myfunction()"> <input id="hg_name_hid"
							hidden="hidden" value="0"> <input
							id="hg_name_verify_status" hidden="hidden" value="0"> <span
							class="red"> <span id="hg_name_examine" class="hidden">HostGroup
								Name已存在！</span> <span id="hg_name_format" class="hidden">格式验证失败:仅支持字母数字以及下划线，且以字母开头</span>
						</span>
					</div>
					<div class="col-sm-2">
						<button type="button" class="btn btn-default"
							name="host_group_create" id="host_group_create">Create</button>
					</div>
				</div>
				<div class="col-xs-5 "></div>


			</div>

			<!-- disk -->

			<div class="tab-pane fade" id="diskgroup_tab">
				<br> <br>
				<div class="row">
					<div class="col-xs-5 ">
						<span class="text-success" style="margin-left: 35%;">可选磁盘列表</span>
						<span class="glyphicon glyphicon-question-sign" rel="drevil"
							data-container="body" data-toggle="popover"
							data-placement="bottom" data-content="通过单击项目将其添加到已选列表"></span>
						<table id="DTable" class="table  table-hover table-bordered "
							border="1">
							<thead>
								<tr>
									<th>Disk</th>
									<th>Size</th>
								</tr>
							</thead>
							<tbody id="D_T">
							</tbody>
						</table>
					</div>
					<div class="col-xs-5 ">
						<span class="text-success" style="margin-left: 32%;">已选磁盘列表</span>
						<span class="glyphicon glyphicon-question-sign" rel="drevil"
							data-container="body" data-toggle="popover"
							data-placement="bottom" data-content="通过单击项目将其移出已选列表(同时放回可选列表)"></span>
						<table id="DTable_Show" class="table table-hover table-bordered"
							border="1">
							<thead>
								<tr>
									<th>Selected Disk</th>
									<th>Size</th>
								</tr>
							</thead>
							<tbody id="D_T_Show">
							</tbody>
						</table>
					</div>
					<div class="col-xs-5 ">
						<span class="text-success" style="margin-left: 25%;">已选磁盘对应的Device</span>
						<table id="D_Dev_Table_Show"
							class="table table-hover table-bordered" border="1">
							<thead>
								<tr>
									<th>Selected Device</th>
								</tr>
							</thead>
							<tbody id="D_Dev_T_Show">
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-xs-6 ">
					<div class="col-sm-8">
						<input type="text" class="form-control" id="disk_group_name"
							placeholder="请输入DiskGroup名称" style="width: 200px;" value=""
							onblur="dg_name_myfunction()"> <input id="dg_name_hid"
							hidden="hidden" value="0"> <input
							id="dg_name_verify_status" hidden="hidden" value="0"> <span
							class="red"> <span id="dg_name_examine" class="hidden">DiskGroup
								Name已存在！</span> <span id="dg_name_format" class="hidden">格式验证失败:仅支持字母数字以及下划线，且以字母开头</span>
						</span>
					</div>
					<div class="col-sm-2">
						<button type="submit" class="btn btn-default"
							name="disk_group_create" id="disk_group_create">Create</button>
					</div>
				</div>
				<div class="col-xs-5 "></div>


			</div>
			<!-- map -->
			<div class="tab-pane fade" id="map_tab">
				<br> <br>
				<div class="row">
					<div class="col-xs-5 ">
						<span class="text-success" style="margin-left: 35%;">可选主机组列表</span>
						<span class="glyphicon glyphicon-question-sign" rel="drevil"
							data-container="body" data-toggle="popover"
							data-placement="bottom" data-content="通过单击项目将其添加到已选列表"></span>
						<table id="HGTable" class="table  table-hover table-bordered "
							border="1">
							<thead>
								<tr>
									<th>HostGroups List</th>
								</tr>
							</thead>
							<tbody id="HG_T">
							</tbody>
						</table>
					</div>
					<div class="col-xs-5 ">
						<span class="text-success" style="margin-left: 32%;">已选主机组列表</span>
						<span class="glyphicon glyphicon-question-sign" rel="drevil"
							data-container="body" data-toggle="popover"
							data-placement="bottom" data-content="通过单击项目将其移出已选列表(同时放回可选列表)"></span>
						<table id="HGTable_Show" class="table table-hover table-bordered"
							border="1">
							<thead>
								<tr>
									<th>HostGroups to create</th>
								</tr>
							</thead>
							<tbody id="HG_T_Show">
							</tbody>
						</table>
					</div>
					<div class="col-xs-4 ">
						<span class="text-success" style="margin-left: 30%;">已选主机组中所有主机</span>
						<table id="HostTable" class="table  table-hover table-bordered "
							border="1">
							<thead>
								<tr>
									<th>Host</th>
								</tr>
							</thead>
							<tbody id="Host_T">
							</tbody>
						</table>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-5 ">
						<span class="text-success" style="margin-left: 35%;">可选磁盘组列表</span>
						<span class="glyphicon glyphicon-question-sign" rel="drevil"
							data-container="body" data-toggle="popover"
							data-placement="bottom" data-content="通过单击项目将其添加到已选列表"></span>
						<table id="DGTable" class="table  table-hover table-bordered "
							border="1">
							<thead>
								<tr>
									<th>DiskGroups List</th>
								</tr>
							</thead>
							<tbody id="DG_T">
							</tbody>
						</table>
					</div>
					<div class="col-xs-5 ">
						<span class="text-success" style="margin-left: 32%;">已选磁盘组列表</span>
						<span class="glyphicon glyphicon-question-sign" rel="drevil"
							data-container="body" data-toggle="popover"
							data-placement="bottom" data-content="通过单击项目将其移出已选列表(同时放回可选列表)"></span>
						<table id="DGTable_Show" class="table table-hover table-bordered"
							border="1">
							<thead>
								<tr>
									<th>DiskGroups to create</th>
								</tr>
							</thead>
							<tbody id="DG_T_Show">
							</tbody>
						</table>
					</div>
					<div class="col-xs-4 ">
						<span class="text-success" style="margin-left: 30%;">已选磁盘组中所有磁盘</span>
						<table id="DiskTable" class="table  table-hover table-bordered "
							border="1">
							<thead>
								<tr>
									<th>Disk</th>
								</tr>
							</thead>
							<tbody id="Disk_T">
							</tbody>
						</table>
					</div>
				</div>

				<div class="col-xs-6 ">
					<div class="col-sm-8">
						<input type="text" class="form-control" id="map_name"
							placeholder="请输入" style="width: 200px;" value=""
							onblur="map_name_myfunction()"> <input id="map_name_hid"
							hidden="hidden" value="0"> <input
							id="map_name_verify_status" hidden="hidden" value="0"> <span
							class="red"> <span id="map_name_examine" class="hidden">Map
								Name已存在！</span> <span id="map_name_format" class="hidden">格式验证失败:仅支持字母数字以及下划线，且以字母开头</span>
						</span>
					</div>
					<div class="col-sm-2">
						<button type="submit" class="btn btn-default" name="map_create"
							id="map_create">Create</button>
					</div>

				</div>
				<div class="col-xs-5 "></div>

			</div>
		</div>
	</div>
	<div id="light_success" class="white_content">
		<p id="P_text_success"
			style="text-align: center; font-size: 30px; color: gray;"></p>
	</div>
	<div id="light_failed" class="failed_content">
		<p id="P_text_failed"
			style="text-align: center; font-size: 30px; color: oldlace;"></p>
	</div>
	<div id="fade" class="black_overlay"></div>


	<script type="text/javascript"
		src="{{url_for('static',filename='personal/js/JQuery.js')}}"></script>
	<script type="text/javascript"
		src="{{url_for('static',filename='bootstrap-3.3.7/dist/js/bootstrap.js')}}"></script>
	<script type="text/javascript"
		src="{{url_for('static',filename='personal/js/iSCSI-host-create.js')}}"></script>
	<script type="text/javascript"
		src="{{url_for('static',filename='personal/js/iSCSI-hostgroup-create.js')}}"></script>
	<script type="text/javascript"
		src="{{url_for('static',filename='personal/js/iSCSI-diskgroup-create.js')}}"></script>
	<script type="text/javascript"
		src="{{url_for('static',filename='personal/js/iSCSI-map-create2.js')}}"></script>
	<script type="text/javascript"
		src="{{url_for('static',filename='layui/layui.all.js')}}"></script>
</body>
</html>